/*
  Project: STYLIGHT - Front-End Task
  Author: Radimir Bitsov
  Author URI: http://radibit.com
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
2.0 - Reset
3.0 - Content
4.0 - Media Queries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 Typography
--------------------------------------------------------------*/
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700)");

/*--------------------------------------------------------------
2.0 Reset
--------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline;
}
html {
    overflow-y: scroll;
    /* Keeps page centered in all browsers regardless of content height */
    -webkit-text-size-adjust: 100%;
    /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
    -ms-text-size-adjust: 100%;
    /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
*,
*:before,
*:after {
    /* apply a natural box layout model to all elements; see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
    -webkit-box-sizing: border-box;
    /* Not needed for modern webkit but still used by Blackberry Browser 7.0; see http://caniuse.com/#search=box-sizing */
    -moz-box-sizing: border-box;
    /* Still needed for Firefox 28; see http://caniuse.com/#search=box-sizing */
    box-sizing: border-box;
}
body {
    background: #fff;
    /* Fallback for when there is no custom background color defined. */
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}
ol, ul {
    list-style: none;
}
table {
    /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
    text-align: left;
}
blockquote, q {
    quotes: "" "";
}
blockquote:before, blockquote:active, q:before, q:active {
    content: "";
}
a:hover, a:active, a:focus {
    outline: 0;
}
a img {
    border: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*--------------------------------------------------------------
3.0 Content
--------------------------------------------------------------*/
html {
    font-family: "Open Sans", Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 112.5%;
    color: #2a2a2a;
}
body {
    background: #fff;
    line-height: 1.2em;
}
.app__header {
    background-color: #2a2a2a;
    color: #fff;
    text-align: center;
}
.app__header h1 {
    font-size: 1.1rem;
    font-weight: 300;
    text-transform: uppercase;
}
.app__main {
    border: 1px solid #2a2a2a;
    min-height: 350px;
}
.wrap {
    max-width: 480px;
    margin: 0 auto;
    padding: 1.5rem;
}
.centered {
    text-align: center;
}
.result {
    padding-bottom: 10px;
}
.result p {
    margin: 0 0 10px 0;
    font-size: 1.1rem;
    font-weight: 700;
}
.result p:first-child {
    font-size: 0.9rem;
    color: #424242;
    font-weight: 300;
}
.form-group {
    margin: 15px;
    padding-bottom: 10px;
}
.clear:before,
.clear:after {
    content: " ";
    display: table;
}
.clear:after {
    clear: both;
}
.clear {
    *zoom: 1;
}
.convert-btn {
    display: inline-block;
    padding: 7px 14px;
    margin-bottom: 0;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.44;
    text-align: center;
    white-space: nowrap;
    width: 150px;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #fff;
    border: 1px solid #2a2a2a;
    outline: none;
}
.convert-btn:hover {
    background-color: #2a2a2a;
    color: #fff;
}
.form-group input,
.form-group select {
    padding: 7px 14px;
    font-size: 0.9rem;
    line-height: 1.44;
    color: #2a2a2a;
    width: 150px;
    background-color: #fff;
    border: 1px solid #2a2a2a;
    outline: none;
}
.form-group select {
    float: right;
}

/*--------------------------------------------------------------
4.0 Media Queries
--------------------------------------------------------------*/
@media (max-width: 768px) {
    html {
        font-size: 100%;
    }
}